<div class="footer">
    <div class="footer_body container">
        <div class="footer_content">
            <ul class="footer_list">
                <li class="footer_list_item"><a class="footer_list_link" href="#">首頁</a></li>
                <li class="footer_list_item"><a class="footer_list_link" href="#">系列鏡框</a></li>
                <li class="footer_list_item"><a class="footer_list_link" href="#">門市據點</a></li>
                <li class="footer_list_item"><a class="footer_list_link" href="#">部落格</a></li>
                <li class="footer_list_item"><a class="footer_list_link" href="#">部落格</a></li>
            </ul>
            <ul class="footer_media">
                <li class="footer__media_list">
                    <a href="#" class="footer_media_link">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="FB">
                    </a>
                </li>
                <li class="footer__media_list">
                    <a href="#" class="footer_media_link">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="IG">
                    </a>
                </li>
                <li class="footer__media_list">
                    <a href="#" class="footer_media_link">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="LINE">
                    </a>
                </li>
            </ul>
        </div>
        <ul class="footer_contact">
            <li class="footer_contact_list">
                <a href="#" class="footer_contact_link">
                    <span class="material-symbols-outlined mr-20">
                        call
                        </span>
                        0800-000-000
                </a>
            </li>
            <li class="footer_contact_list">
                <a href="#" class="footer_contact_link">
                    <span class="material-symbols-outlined mr-20">
                        mail
                        </span>
                        glasses@business.com
                </a>
            </li>
        </ul>
        <hr>
        <div class="footer_copyright">
            <p class="copyright">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="footer_policy">
                <li class="footer_policy_item">隱私權政策</li>
                <li class="footer_policy_item">服務條款</li>
            </ul>
        </div>
    </div>
</div>