<header class="header">
    <nav class="nav container">
        <a href="index.html"><img class="nav_logo" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo">
        </a>
        <ul class="nav_list">
            <li class="list_item"><a href="series.html" class="list_item_link" >系列鏡框</a></li>
            <li class="list_item"><a href="#" class="list_item_link">門市據點</a></li>
            <li class="list_item"><a href="#" class="list_item_link">部落格</a></li>
            <li class="list_item"><a href="Q&A.html" class="list_item_link">常見問題</a></li>
        </ul>
    </nav>
</header>