/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Noto Sans TC", "Roboto", sans-serif;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 1296px;
  padding: 0 12px;
}

.mr-20 {
  margin-right: 20px;
  font-size: 36px;
}

.header {
  background-color: #AA0601;
  padding: 25px 0;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .nav .nav_logo {
  width: 80px;
}
.header .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav_list .list_item {
  margin-left: 64px;
}
.header .nav_list .list_item .list_item_link {
  color: #FFFFFF;
  font-size: 20px;
  display: block;
}

@media (max-width: 769px) {
  .header {
    padding: 25px 24px;
  }
}
@media (max-width: 376px) {
  .header {
    padding: 0 3px;
  }
  .header .nav {
    display: block;
  }
  .header .nav .nav_logo {
    padding: 12px 0;
  }
  .header .nav_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 375px;
  }
  .header .nav_list .list_item {
    margin-left: 0;
    width: 50%;
    padding: 12px 0;
    text-align: center;
  }
  .header .nav_list .list_item .list_item_link {
    color: #FFFFFF;
    font-size: 16px;
  }
}
.footer {
  background-color: #AA0601;
  padding-top: 60.02px;
}
.footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35.98px;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_list .footer_list_item {
  margin-right: 24px;
}
.footer_list .footer_list_item .footer_list_link {
  display: block;
  color: #FFFFFF;
}

.footer_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_media .footer__media_list {
  width: 48px;
  margin-left: 32px;
}

.footer_contact {
  margin-bottom: 32px;
}
.footer_contact .footer_contact_list {
  margin-bottom: 8px;
}
.footer_contact .footer_contact_list .footer_contact_link {
  color: #FFFFFF;
  font-size: 36px;
}

.footer_copyright {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_copyright .copyright {
  color: #FFFFFF;
}
.footer_copyright .footer_policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_copyright .footer_policy .footer_policy_item {
  color: #FFFFFF;
  margin-left: 48px;
}
.footer_copyright .footer_policy .footer_policy_item:hover {
  cursor: pointer;
}

@media (max-width: 769px) {
  .footer {
    padding: 48px 24px 0 24px;
  }
  .footer .footer_content {
    margin-bottom: 31.98px;
  }
  .footer_list .footer_list_item {
    margin-right: 48px;
  }
  .footer_media .footer__media_list {
    margin-left: 16px;
  }
  .footer_copyright {
    padding: 40px 0;
  }
}
@media (max-width: 376px) {
  .footer {
    padding: 24px 1px 24px 1px;
  }
  .footer .footer_content {
    float: right;
  }
  .footer_list {
    display: none;
  }
  .footer_contact {
    margin-bottom: 32px;
  }
  .footer_contact .footer_contact_list {
    margin-bottom: 8px;
  }
  .footer_contact .footer_contact_list .footer_contact_link {
    font-size: 16px;
  }
  .footer_contact .footer_contact_list .footer_contact_link .mr-20 {
    margin-right: 8px;
    font-size: 24px;
  }
  .footer_media .footer__media_list {
    width: 24px;
    margin-left: 8px;
  }
  .footer_copyright {
    display: block;
    padding: 8px 0 0 0;
  }
  .footer_copyright .footer_policy {
    display: block;
    padding: 8px 0 0 0;
  }
  .footer_copyright .footer_policy .footer_policy_item {
    margin-left: 0px;
    padding: 8px 0 0 0;
  }
}
.l_title {
  font-size: 48px;
  font-weight: bold;
  color: #650300;
  text-align: center;
}

.banner {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  height: 787px;
  background-position: center;
  background-size: cover;
}
.banner .banner_body {
  color: #650300;
  text-align: end;
  height: 100%;
  padding-top: 296px;
}
.banner .banner_body .banner_content {
  font-size: 36px;
}
.banner .banner_body .banner_title {
  font-size: 64px;
  font-weight: bold;
}
.banner .banner_body .banner_btn {
  background-color: #AA0601;
  border: none;
  color: #FFFFFF;
  padding: 6px 12px;
  font-size: 20px;
  margin-top: 4px;
}
.banner .banner_body .banner_btn:hover {
  cursor: pointer;
}

.specialty {
  background-color: #FBF2F2;
  padding: 80px 0;
}

.specialty_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 36.5px;
}
.specialty_list .specialty_list_item {
  width: 24.06%;
  text-align: center;
}
.specialty_list .specialty_list_item .specialty_item_pic {
  width: 88px;
}
.specialty_list .specialty_list_item .specialty_item_title {
  font-size: 24px;
  font-weight: bold;
  color: #650300;
  margin: 27.4px 0 8px 0;
}
.specialty_list .specialty_list_item .specialty_item_content {
  text-align: left;
}

.classic {
  padding: 80px 0;
}
.classic .classic_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}
.classic .classic_list .classic_list_item {
  max-width: 32.09%;
}
.classic .classic_list .classic_list_item .classic_item_content {
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #AA0601;
  margin-top: 8px;
}