<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <header class="series">
      <ul class="series_list container">
        <li class="series_list_item">OPTICAL</li>
        <li class="series_list_item">SUNGLASSES</li>
        <li class="series_list_item">FUNCTIONAL</li>
      </ul>
      <div class="series_banner">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true" alt="" class="series_banner_img">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true" alt="" class="series_banner_img">
      </div>
    </header>
    <div class="optical container">
      <h2 class="optical_title">Celluloid Combi</h2>
      <h3 class="optical_subtitle">賽璐珞鈦金屬混合鏡框</h3>
      <ul class="optical_list ">
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="BJ41600S">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="BJ41600S">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
        <li class="optical_list_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true">
          <div class="optical_item_info">
            <p class="optical_item_num">BJ41600S</p>
            <p class="optical_item_price">NTD3,490</p>
          </div>
          <div class="color">
            <div class="color1"></div>
            <div class="color2"></div>
          </div>
        </li>
      </ul>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
